body{
    margin: 0;
    background-image: url('../img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-page{
    font-size: 25px;
}
.icon-page i{
    /* background-color: white; */
    color: white;
    border:2px solid white;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}

.icon-page i:hover{
    /* background-color: white; */
    color: black;
    border:2px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}

.mantain{
    margin-top: 30px;
    padding: 120px 80px 80px 80px;
    margin: 0;
}
.mantain h1{
    font-size: 55px;
    font-weight: 500;
}

.mantain p{
    width: 500px;
}

.navbar-cust{
    padding: 0px 10px 10px 70px;
    display: block;
}

.navbar-cust a{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    padding-bottom: 35px;
}


@media only screen and (max-width: 390px) {
    body {
      background-size: cover;
    }


    .icon-page{
        font-size: 8px;
    }
    .icon-page i{
        /* background-color: white; */
        color: white;
        border:2px solid white;
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
    }
    
    .icon-page i:hover{
        /* background-color: white; */
        color: black;
        border:2px solid white;
        background-color: white;
        border-radius: 10px;
        padding: 15px 15px 15px 15px;
    }
    
    .mantain{
        margin-top: 0px;
        padding: 70px 80px 80px 20px;
        margin: 0;
    }
    .mantain h1{
        font-size:16px;
        font-weight: 500;
    }
    
    .mantain p{
        width: 300px;
    }
    
    .navbar-cust {
        padding: 0px 10px 10px 5px;
        display: block;
    }
    
    .navbar-cust img{
        width: 20;
    }
    .navbar-cust a{
        color: white;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        vertical-align: middle;
        padding-bottom: 35px;
    }
  }